<div class="breadcrumbs">
    <p class="breadcrumbs-text">
        <a href="{% url 'home' %}" class="breadcrumb-link">Home</a>
        |
        <a href="{% url 'products' %}" class="breadcrumb-link">Products</a>
        |
        <!-- category breadcrumb -->
        {% if current_categories %}
        {% for category in current_categories %}
        <span class="active-breadcrumb fw-bold">{{ category.friendly_name }} ({{ products|length}})</span>
        {% endfor %}
        <!-- search query breadcrumb -->
        {% elif search_term or current_categories or current_sorting != 'None_None' %}
        {{ products|length }} Products{% if search_term %} found searching <strong>"{{ search_term }}"</strong>{% endif %}
        <div class="col text-center">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
        <!-- product tag breadcrumb -->
        {% elif product_tag %}
        <span class="active-breadcrumb fw-bold">{{ product_tag }} products ({{ products|length}})</span>
        {% else %}
        <span class="active-breadcrumb fw-bold">All products ({{ products|length}})</span>
        {% endif %}
    </p>
</div>