{% load static %}
{% load cart_tools %}

<div id="cart-preview" class="container-fluid position-fixed cart-preview bg-white border-black rounded-0">
    <div class="cart-head bg-white text-dark">
        <img src="{% static '/images/mm-pcparts-logo.png' %}" class="me-2 toast-img" alt="">
        <h2 class="mt-2 p-2 logo-font fw-bold">Shopping Cart</h2>
        <button type="button" id="close-btn" class="ms-2 mb-1 btn-close text-dark" aria-label="Close" data-bs-toggle="tooltip" data-placement="left" title="Close preview"></button>
    </div>
    {% if cart_items %}
    <div class="cart-preview-wrapper">
        {% for item in cart_items %}
        <div class="row mt-2 p-2{% if forloop.counter|divisibleby:2 %} bg-light{% endif %}">
            <div class="col-2">
                <a href="{% url 'product_detail' item.product.id %}"><img class="w-100" src="{% if item.product.image %}{{ MEDIA_URL }}{{ item.product.image }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                    alt="{{ album.title }}"></a>
            </div>
            <div class="col-3">
                <div class="ml-2">
                    <p class="my-1"><strong>{{ item.product.part_name }}</strong></p>
                    <p class="my-1">{{ item.product.brand }}</p>
                    <form class="form update-form" method="POST" action="{% url 'mod_cart' item.item_id %}">
                        {% csrf_token %}
                        {% if item.product.has_colours %}
                            <p class="my-1">{{ item.product.colour }}</p>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="col-2">
                <h3 class="cart-sub-head">Quantity</h3>
                <p class="text-center">{{ item.quantity }}</p>
            </div>
            <div class="col-2">
                <h3 class="cart-sub-head">Price</h3>
                <p>£{{ item.product.price }}</p>
            </div>
            <div class="col-2 text-end">
                <h3 class="cart-sub-head">Total</h3>
                <p>£{{ item.product.price|calc_subtotal:item.quantity }}</p>
            </div>
            <div class="col-1">
                <div class="remove-icon" data-product="{{ item.item_id }}">
                    <a class="remove-item text-danger" data-toggle="tooltip"
                        data-placement="bottom" title="Remove from cart" 
                        id="remove_{{ item.item_id }}" data-product_colour="{{ item.colour }}">
                        <i class="fas fa-times fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cart-details px-2 border-top">
        <div class="row my-2">
            <div class="col-6 text-end">
                <h4>Grand total</h4>
            </div>
            <div class="col-6 text-start">
                <h4 class="preview-grand-total">£{{ grand_total|floatformat:2 }}</h4>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-12 text-end text-white d-flex justify-content-evenly">
                <a class="btn btn-outline-black rounded-0 btn-lg update-cart-btn" href="{% url 'view_cart' %}">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="text-uppercase">Adjust Cart</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-lg btn-black checkout-btn rounded-0">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="mt-4 text-center py-2">
        <p class="lead mb-5">Your cart is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    {% endif %}
</div>