<footer class="footer mt-auto py-3">
    <div id="footer">
        <div class="container-fluid">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding">
                        <a href="{% url 'products' %}" class="footer-link">Shop</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-3 order-lg-2">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-2 order-lg-3">
                        <p class="mb-3">© 2021 Mighty Machine</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-4 order-lg-4">
                        <div class="social-media">
                            <div>
                                <a href="https://www.facebook.com" class="sm-link" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.instagram.com" class="sm-link" target="_blank">
                                    <i class="fab fa-instagram fa-lg"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.pinterest.com" class="sm-link" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.youtube.com" class="sm-link" target="_blank">
                                    <i class="fab fa-youtube-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>