<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-case fw-bold nav-link text-black me-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-case fw-bold nav-link text-black me-5" href="#" id="case-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cases
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-case fw-bold nav-link text-black me-5" href="#" id="internals-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Internal Components
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Motherboard</a>
                <a href="" class="dropdown-item">CPU (Central Processing Unit)</a>
                <a href="" class="dropdown-item">GPU (Graphics Card)</a>
                <a href="" class="dropdown-item">RAM (Memory)</a>
                <a href="" class="dropdown-item">Storage</a>
                <a href="" class="dropdown-item">PSU (Power Supply Unit)</a>
                <a href="" class="dropdown-item">All Internals</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-case fw-bold nav-link text-black me-5" href="#" id="peripherals-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peripherals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item"><i class="fas fa-keyboard fa-fw"></i> Keyboard</a>
                <a href="" class="dropdown-item"><i class="fas fa-mouse fa-fw"></i> Mouse</a>
                <a href="" class="dropdown-item">All Peripherals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-case fw-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div> 