{% load static %}
<div class="d-lg-none mob-top-header">
    <ul class="navbar-nav flex-row w-auto">
        <li class="list-inline-item">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="mob-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
                    <p class="my-0 logo-font">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mob-search">
                <form class="form" method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="query" placeholder="Searching for?...">
                        <div class="input-group-text border border-black rounded-0">
                            <button class="form-control form-control btn btn-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'home' %}" class="nav-link d-block d-lg-none" id="mob-logo">
                <img src="{% static 'images/mm-logo.png' %}" class="mob-logo" alt="MM logo">
            </a>
        </li>
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0 logo-font">Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Manage Products</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Account</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item">
            <a class="{% if grand_total %}text-primary fw-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="">
                <div class="text-center">
                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>