{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid error-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12 col-md-6 center-align text-center pb-1">
            <h3>400 Error - Bad Request</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>
                    Sorry! An internal error is preventing you from accessing this page...
                    Where would you like to go?
                </p>
                <div class="mt-4">
                    <a class="mr-2 mb-2 d-inline-block" href="{% url 'products' %}">Back to Products</a>
                    <a class="d-inline-block" href="{% url 'home' %}">Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}