{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col center-align text-center pb-1">
            <h3>404 Error - Page Not Found</h3>
        </div>
    </div>
    <div class="container general-container">
        <div class="row">
            <div class="col">
                <p>
                    Sorry! We couldn't find what you were looking for...
                    Where would you like to go?
                </p>
                <div class="mt-4">
                    <a class="mr-2 mb-2 d-inline-block" href="{% url 'products' %}">Back to Products</a>
                    <a class="d-inline-block" href="{% url 'home' %}">Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}